<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>
      PBR&B adaptogen heirloom, next level vexillologist pinterest blog yr la croix intelligentsia iceland. Mustache
      dreamcatcher succulents cronut, williamsburg cred aesthetic jean shorts crucifix hell of kickstarter.
    </p>
  </div>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon 'github' %><span>Github</span></a></li>
      <li><a href="#"><%= fa_icon 'twitter' %><span>Twitter</span></a></li>
      <li><a href="#"><%= fa_icon 'facebook-official' %><span>Facebook</span></a></li>
      <li><a href="#"><%= fa_icon 'instagram' %><span>Instagram</span></a></li>
    </ol>
  </div>
</div>